doctype html
html
  head
    title Huzaifa Dance Academy
    block scripts
    block style 
     
  body
    nav#navbar 
        ul 
            div#logo
                img(src="/static/woman-2819494_1920.jpg")
                |   HDA

            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]
    block content
          

         

    block footer 
     footer 
        |   Copyright © Huzaifa Dance Academy 2021 |  All rights reserved HDA 
      
        
     