//- page-a.pug
extends base.pug

block scripts
  script(src='static/index.js')

block style 
    style 
        include ../static/style.css

block content
     section#introsection 
        div#one Welcome to Huzaifa's Dance Academy
        div#two Eat Sleep Dance Repeat 
     section.mission
        h2 Our Mission

     section#missionSection
        div.card1
            h3 Dance Perfection
            div.card-box
                div.card-img
                    img(src="")
                div.card-content
                    p This is the best dance academy of the universe

        div.card2
            h3 Dance the way you like
            div.card-box
                div.card-img
                    img(src="")
                div.card-content
                    p This is the best dance academy of the universe

        div.card3
            h3 Expert Teaching
            div.card-box
                div.card-img
                    img(src="")

                div.card-content
                    p This is the best dance academy of the universe 

     section#sponsorsection 
        h2 Section for Sponsor

        div#sponsor
            img(src="/static/icons-847262_1920.png", alt="Sponsor Image" Class="spimage")
            img(src="/static/logo-google-1991840.png", alt="Sponsor Image" Class="spimage")
            img(src="/static/logo-27046.png", alt="Sponsor Image" Class="spimage")
            img(src="/static/apple-2962084.png", alt="Sponsor Image" Class="spimage")

     section#missionSection
        div.card1
            h3 Dance Perfection
            div.card-box
                div.card-img
                    img(src="")
                div.card-content
                    p This is the best dance academy of the universe

        div.card2
            h3 Dance the way you like
            div.card-box
                div.card-img
                    img(src="")
                div.card-content
                    p This is the best dance academy of the universe

        div.card3
            h3 Expert Teaching
            div.card-box
                div.card-img
                    img(src="")

                div.card-content
                    p This is the best dance academy of the universe 


     section#sponsorsection 
        h2 Section for Sponsor

        div#sponsor
            img(src="/static/icons-847262_1920.png", alt="Sponsor Image" Class="spimage")
            img(src="/static/logo-google-1991840.png", alt="Sponsor Image" Class="spimage")
            img(src="/static/logo-27046.png", alt="Sponsor Image" Class="spimage")
            img(src="/static/apple-2962084.png", alt="Sponsor Image" Class="spimage")
